{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ME!</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section id="header">
        <br><br>
    </section>
    
    <section id="playlist">
        <h1>Minhas Playlists</h1>
        <hr>
        <table style="width:100%">
            <tr>
                <th>Nome</th>
                <th>Autor</th>
                <th>Data de criação</th>
                <th>Atualizado em:</th>
            </tr>
            {% for playlist in playlist %}
                <tr>
                    <td><a href="{{ playlist.get_absolute_url }}">{{ playlist.name }}</a></td>
                    <td>{{ playlist.user }}</td>
                    <td>{{ playlist.criacao }}</td>
                    <td>{{ playlist.modificacao }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>