{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ME! - Playlist</title>
        <link rel="stylesheet" href="{% static 'cssindex.css' %}">
    </head>
    <body>
        <div class="top-menu">
            <a href="{% url 'index' %}"><h3 class="button" type="submit">Inicio</h3></a>
            <a href="{% url 'logout' %}"><h3 class="button" type="submit">Sair</h3></a>
        </div>
        <div class = "container2">
            <section id="playlist">
                <h1>{{ playlist.name }}</h1>
                <h3>Criada por: {{ playlist.user }}</h3>
                <h3> 
                    {{ value }} músicas
                </h3>
                <table style="width:100%">
                    <tr>
                        <th>Nome</th>
                        <th>Artistas</th>
                        <th>Album</th>
                        <th>Duração</th>
                        <th>Data de lançamento</th>
                        <th>Baixe aqui</th>
                    </tr>
                    {% for music in musics %}
                            <tr>
                                <td>{{ music.title }}</a></td>
                                <td>
                                    {% for artist in music.artist.all %}
                                        {% if forloop.last %}
                                            {{ artist }}
                                        {% else %}
                                            {{ artist }},
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ music.album }}</td>
                                <td>{{ music.duration }}</td>
                                <td>{{ music.date }}</td>
                            <td style="background-color: black; color: white; border-radius: 20px" class="button"><a download href="{{ music.file.url }}"> Baixar </a></td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    </body>    
</html>