{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ME! - Login</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
</head>
<body>
    <form method="post" class="form-log">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        
        <input class="form-control" type="submit" value="Entrar">
        <p>Não possui uma conta? <a href="{% url 'register' %}">Inscreva-se aqui!</a></p>
    </form>
</body>
</html>