{% load static %}
<!DOCTYPE html> 
<html>
    <head>
        <title>ME! - Login</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="image">
            <img src="https://img.icons8.com/nolan/512/000000/play.png">
        </div>
        <div  class="frase">
            <h1>Music Everywhere</h1>
            <h2>Sua melhor música em qualquer lugar</h2>
        </div>
       <div class="container-login">
            <div class="title">
                    <h2>Faça login para continuar</h2>
            </div>

           <form class = "my-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <div class='botao-login'>
                    <input class="button" type="submit" value="Entrar">
                </div>
                <div class="title">
                    <h2 style="font-size: 12px" >Ainda não tem conta?</h2>
                </div>
                <div class="botao-register">
                    <a href="{% url 'register' %}"><input type="button" value="Registre-se"></a>
                </div>
            </form>
        </div>
    </body>
    
    </html>
    