body{
    padding: 0px;
    margin: 0px;
}
.top-menu{
    width: 100%;
    display: flex;
    background-color: black;
    color:white;
    box-shadow: 5px 10px;
}

.top-menu h3{
    padding:0.5em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-bar{
    background-color: black;

}

.table, td, tr{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.table {
    border: black 1px solid; 
}

.table, th{
    background-color: black;
    color: white;
    border-collapse: collapse;

}

.container1 {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container2{
    text-align: center;
    font-size: 15px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
    touch-action: manipulation;
    cursor: pointer;
}