body{
    background-color:black;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-weight:  bold;
    line-height: 1.6em
}


.button{
    background-color: #4555DB;
    color:#fff;
    text-transform: uppercase;
    border-radius: 500px;
    touch-action: manipulation;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.frase{
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
}

.botao-login :hover{
    background-color: #6429AD;
    transition-duration: .9s;
}

.botao-register :hover{
    background-color: #616467;
    transition-duration: .9s;
    color: white;
}

.botao-register input{
    background-color:#fff;
    color: black;
    text-transform: uppercase;
    border-radius: 500px;
    touch-action: manipulation;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;

}


.botoes input{
    border: 2px red solid;
    text-align: center;

}

.botoes{
    display:flex;
    width: 466px;
}



.inicio{
    background-color:black ;
    border: 5px green solid
}



.my-form .form-group{
    padding-bottom: 5px;
    color: black;  
   
}

.title h2{
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    color:black;
}


.my-form input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin-bottom: 0.5em;
    width: 96%;
    border: 1px #DFE0E6 solid;

}

.container-login{
    border-radius: 20px;
    background-color: #EFEFEA;
    padding: 10px;
    width:800px;
    margin: auto;
    max-width: 450px;

}

.image img{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}

