body{
    padding: 0px;
    margin: 0px;
}
.form-log{
    font-family: sans-serif;
    margin: 10%;
    font-size: 20px;
    padding: 100px;
    background: #cacaca;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.form-log div{
    margin-bottom: 15px;
}
.form-log input{
    width: 100%;
    background: #cacaca;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
}
.form-log input:focus{
    box-shadow: none;
    color: #000;
}
.form-log  input[type="submit"] {
    font-size: 20px;
    border-radius: 37px;
    background: rgb(110, 64, 195);
    color: #F5F8FC;
    outline: 0 !important;
    height: auto !important;
    margin-top: 25px;
    /* margin-left: 20%; */
    padding: 15px;
    transition: 0.5s;
}
